mixin date-input
	label.form-label(for=`${attributes.name}-input`)
		block
	.input-group
		.form-floating.w-25
			input.form-control(id=`${attributes.name}-day-input`, type="number" min="1" max="31" step="1" name=`${attributes.name}Day` value=attributes.day || 1)
			label(for=`${attribute-name}-day-input`) Day
		.form-floating.w-50
			select.form-select(id=`${attribute-name}-month-input` name=`${attributes.name}Month`)
				each month, index in months
					if index == attributes.month
						option(value=index selected="selected")= month
					else
						option(value=index)= month
			label(for=`${attribute-name}-month-input`) Month
		.form-floating.w-25
			input.form-control(id=`${attribute-name}-year-input` type="number" min="1" step="1" name=`${attributes.name}Year` value=attributes.year || "2000")
			label(for=`${attribute-name}-year-input`) Year

		input.date-input(type="hidden", name=attributes.name, value=attributes.value)

