include /mixins/invalid-feedback

mixin password-input(name, placeholder = "aSecretPas$w0rd", value = "", readonly = false)
	.form-floating
		input.form-control(
			id=`${name}-input`,
			type="password",
			value=value,
			name=name,
			placeholder=placeholder
			class= (errors && errors[name]) && "is-invalid"
			readonly=readonly
		)
		label.form-label(for=`${name}-input`)
			i.fas.fa-key.me-2.small
			block
		+invalid-feedback(name)
