mixin percentage-input(name, value="0.00")
	label.form-label(for=`${attributes.name}-input`)
		block
	.input-group
		.input-group-prepend
			span.input-group-text %

		input.form-control(
			id=`${attributes.name}-input`,
			type="number",
			name=attributes.name,
			value=attributes.value
			min=attributes.min || "0.000",
		)
		
